.product__container {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    gap: 100px;
}

.product__box {
    display: flex;
    gap: 1rem;
}

.img__box {
    width: 50%;
    flex-direction: column;
}

.img__box .img-background {
    position: relative;
}

.img__box .img-background .background-car {
    position: absolute;
    width: 80%;
    height: auto;
    bottom: 5%;
    left: 10%;
    translate: (-50%, -50%);
}

.img__box .other-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.img__box .other-images .change-car {
    font-size: 2rem;

}

.img__box .other-images .change-car:hover {
    cursor: pointer;
}

.other-images__images {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.img__box .other-images .image {
    width: 100px;
    height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-variant);
}

.vehicle__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
}

.vehicle__info .vehicle__name {
    font-size: var(--subtitle);
}

.vehicle__info .vehicle__brand {
    font-size: 14px;
    opacity: .6;

}

.vehicle__info .vehicle__price {
    font-size: var(--subtitle);
    font-weight: var(--font-bold);
}

.vehicle__info .product__row {
    width: 50%;
    height: 1px;
    background-color: var(--color-primary);
    opacity: .2;
}

.vehicle__info .product__tag {
    font-size: .9rem;
}

.product__tag span {
    font-weight: var(--font-bold);
}

.product__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product__description h3 {
    font-size: var(--title);
    text-align: center;
}

.product__description hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
    opacity: .2;
}

.product__information {
    background-color: var(--color-primary);
    margin: 100px 0 200px 0;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--text-color-variant);
    height: 100%;
}

.product__information h4 {
    font-size: var(--subtitle);
}

.product__information .datasheet {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.product__information .product__technique {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;

}

.product__information .product__technique h6 {
    font-size: .8rem;
    font-weight: var(--font-semi-bold);
}

.product__information .product__technique h6 span {
    font-weight: var(--font-medium);
    opacity: .8;
    margin-left: .5rem;
}

.product__information .product__vertical-row {
    height: 150px;
    width: 1px;
    background-color: var(--text-color-variant);
    opacity: .2;
}

/* ============== MEDIA QUERIES =============== */
/* Min = 1024 */

@media screen and (max-width: 1024px) {
    .product__information .datasheet {
        width: 80%;
    }

    .img__box .other-images .image {
        max-width: 75px;
        max-height: 75px;
        width: initial;
        height: initial;
        padding: .8rem .5rem;
    }
}

/* Min = 600 */

@media screen and (max-width: 600px) {

    .img__box .other-images {
        gap: .5rem;
    }

    .img__box .other-images .image {

        width: 75px;
        height: auto;
        padding: 1rem .2rem;
    }

    .product__box {
        flex-direction: column;
        gap: 3rem;
    }

    .img__box {
        width: 100%;
    }

    .vehicle__info {
        width: 100%;
    }

    .vehicle__info .product__row {
        width: 100%;
    }

    .product__information .datasheet {
        align-items: flex-start;
    }
}