.product-slider {
    margin: 150px 0;
    width: 100%;
    padding: 3.5rem .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.product-slider__title {
    font-size: var(--title);
}

.swiper {
    z-index: 0 !important;
    width: 100%;
}

.product-slider__slides {
    text-align: center;
}

.product-slider__slides img.slide__car {
    width: 50% !important;

}

.product-slider__slides p {
    font-size: 1rem;
    text-align: center;
    margin: 50px 0;
}

.product-slider__slides div.product-slider__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 75px;
}

.product-slider__slides .image-slide-box {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.product-slider__slides .image-slide-box .ellipse {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    width: fit-content;
    transform: translate(-50%, -50%);
}

.product-slider__slides .image-slide-box .slide__car {
    height: 70% !important;
    margin-bottom: 2rem;
}

.product-slider__slides:hover {
    cursor: grab;
}

.product-slider__button {
    width: 160px;
    height: 50px;
    color: var(--text-color-variant);
}

.button--active {
    visibility: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    color: inherit !important;
    opacity: .8 !important;
    transition: var(--transition) !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 1 !important;
}

.swiper-button-disabled {
    opacity: .3 !important;
}

.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    margin: 0rem .8rem !important;
}

/* ============== MEDIA QUERIES =============== */
/* Min = 1024 */

@media screen and (max-width: 1024px) {
    .product-slider {
        padding: 3.5rem .5rem;
    }

    .product-slider__slides .image-slide-box .slide__car {
        width: 80% !important;

    }

    .product-slider__slides div.product-slider__buttons {
        margin-bottom: 75px !important;
    }
}

/* Min = 600 */

@media screen and (max-width: 600px) {

    .swiper-button-prev:after,
    .swiper-button-next:after {
        font-size: 1rem !important;

    }

    .swiper-button-prev {
        display: flex !important;
        justify-content: flex-start !important;
        width: 15px !important;
        height: 25px !important;
    }

    .swiper-button-next {
        display: flex !important;
        justify-content: flex-end !important;
        width: 15px !important;
        height: 25px !important;
    }

    .product-slider__slides .image-slide-box {
        height: 250px;
    }

    .product-slider__slides .image-slide-box .slide__car {
        height: fit-content !important;
    }

    .product-slider__box {
        gap: .2rem;
    }

    .product-slider__slides {
        width: 100%;
    }

    .product-slider__title {
        text-align: center;
    }

    .product-slider__buttons {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .product-slider__slides div.product-slider__buttons {
        margin-bottom: 50px !important;
    }
}